
html {    
    background: url('images/imageBG.png') no-repeat center fixed;     
    background-size: cover;
}


#fin_du_tour{
  width:10%;
  height: 10%;
    position:absolute;
    bottom:0%;
    right:0%;


}



#butonMonstre1{
  background-color: rgba(255,255,255,0);

}

#butonMonstre2{
  background-color: rgba(255,255,255,0);
}

#butonMonstre3{
  background-color: rgba(255,255,255,0);
}



#butonPerso1{
    background-color: rgba(255,255,255,0.0);
}

#butonPerso2{
    background-color: rgba(255,255,255,0.0);
}


#butonPerso3{
    background-color: rgba(255,255,255,0.0);
}

#butonPerso4{
    background-color: rgba(255,255,255,0.0);
}




#monstre_1:hover ~ #monstre1stats{
  opacity: 1;

}

#monstre1stats{
  background: #FF0000;
  opacity: 0.0;
  color: white;

}








#monstre_2:hover ~#monstre2stats{
  opacity: 1;
}

#monstre2stats{
  background: #FF0000;
  opacity: 0.0;
  color: white;
}





#monstre_3:hover ~#monstre3stats{
  opacity: 1;
}

#monstre3stats{
  background: #FF0000;
  opacity: 0.0;
  color: white;
}

/*------------------------------------------------------------------------------*/





/*------------------------------------------------------------------------------*/







.personnage{
  margin : 0 auto 0 auto;
border: 0px;
}

.imgPerso{
  width:200px;
  height:200px;

}

.zone_personnages{
  width: 95%;
  display: flex;
  text-align: center;
  
}

.zone_monstres{
  padding-top: 150px;
  background-color: rgba(255,0,0,0.0);
}
.zone_fighter{
  height: 35%;
  padding-top: 10%;
  background-color: rgba(0,0,255,0.0);
}
.action{
  width:30px;
  height:30px;
  opacity:1;
}

.buttonAction{
  border-radius: 40%;
  display: none;
  
}



.avancement{

  background-color: green;
}